@page "{id?}"
@model DetailsModel
@{
    ViewData["Title"] = "Details";
}
<h1> @ViewData["Title"] </h1>

<table class="table">
    <thead>
        <tr>
            <th>Position</th>
            <th>Closure</th>
            <th>TotolPnL</th>
        </tr>
    </thead>
    <tbody>
    @if (Model.Strategies != null)
    {
        foreach (var strategy in Model.Strategies)
        {
            <tr>
                <td>
                    @foreach (var tradeUnit in strategy.OptionsTradeUnits)
                    {
                        <ul>
                            <li>@tradeUnit.Instrument.OptionType @tradeUnit.Instrument.Strike</li>
                            <li>@tradeUnit.Logic</li>
                            <li>@tradeUnit.Position</li>
                            <li>@tradeUnit.ClosedPnl</li>
                            <li>@tradeUnit.OpenPnl</li>
                        </ul>
                    }
                </td>
                <td>
                    @foreach (var tradeUnit in strategy.Closure?.OptionsTradeUnits)
                    {
                        <ul>
                            <li>@tradeUnit.Instrument.OptionType @tradeUnit.Instrument.Strike</li>
                            <li>@tradeUnit.Logic</li>
                            <li>@tradeUnit.Position</li>
                            <li>@tradeUnit.ClosedPnl</li>
                            <li>@tradeUnit.OpenPnl</li>
                        </ul>
                    }
                </td>
                <td>@strategy.GetPnl()</td>
            </tr>
        }
    }
    </tbody>
</table>
