@page "{id?}"
@model DetailsModel
@{
    ViewData["Title"] = "Details";
}
<h1> @ViewData["Title"] </h1>

@foreach (var strategy in Model.Strategies)
{   
<div class="row">
    <label> <input class="collapsing-leg-checkbox" type="checkbox"/>
        <table class="table option-strategies-table">
            <tr>
                <th class="table-header five-cols"> Strategy </th>
                <th title="Basis Price" class="table-header five-cols"> 
                    @Model.BasisPrice 
                </th>
                <th title="Basis price at enter moment" class="table-header five-cols">
                    @strategy.BasisPriceAtOpenMoment
                </th>
                <th title="Total Theor PnL" class="table-header five-cols"> @strategy.GetTotalCurrencyTheorPnlWithCommission() </th>
                <th title="Total BidAsk PnL" class="table-header five-cols"> @strategy.GetTotalCurrencyBidAskPnlWithCommission() </th>
            </tr>

            <tr class="row collapsed-strategy-leg">
                <td colspan="100%">
                    <label> <input class="collapsing-checkbox" type="checkbox"/>
                        <table class="table strategies-leg-table">

                            <tr>
                                <th class="table-header four-cols"> Call Leg </th>
                                <th class="table-header four-cols" title="CallLeg Theor PnL"> @strategy.CallLeg.GetTotalCurrencyTheorPnlWithCommission() </th>
                                <th class="table-header four-cols" title="BidAsk Theor PnL"> @strategy.CallLeg.GetTotalCurrencyBidAskPnlWithCommission() </th>
                                <th class="table-header four-cols" title="Position Cost"> @strategy.CallLeg.GetTotalCurrencyPositionCost() </th>
                            </tr>

                            <tr class="collapsing-strategy-row">
                                <td colspan="100%">
                                    <table class="table">
                                        <tr>
                                            <th class="table-header nine-cols">
                                                Main
                                            </th>
                                            <th class="table-header nine-cols" title="Main Theor PnL">
                                                @strategy.CallLeg.GetMainCurrencyTheorPnlWithCommission()
                                            </th>
                                            <th class="table-header nine-cols" title="Main BidAsk PnL">
                                                @strategy.CallLeg.GetMainCurrencyBidAskPnlWithCommission()
                                            </th>
                                        <tr>
                                            <td> @strategy.CallLeg.BuyLeg.Instrument.OptionType </td>
                                            <td> @strategy.CallLeg.BuyLeg.Instrument.Strike </td>
                                            <td> @strategy.CallLeg.BuyLeg.Direction </td>
                                            <td> @strategy.CallLeg.BuyLeg.Instrument.LastTradeDate.ToString("d") </td>
                                            <td> @strategy.CallLeg.BuyLeg.Logic </td>
                                            <td title="Theor PnL"> @strategy.CallLeg.BuyLeg.GetCurrencyTheorPnlWithCommission() </td>
                                            <td title="BidAsk PnL"> @strategy.CallLeg.BuyLeg.GetCurrencyBidAskPnlWithCommission() </td>
                                            <td title="Position"> @strategy.CallLeg.BuyLeg.Position </td>
                                            <td title="Position"> @strategy.CallLeg.BuyLeg.EnterPriceWithCommission </td>
                                        </tr>
                                        <tr>
                                            <td> @strategy.CallLeg.SellLeg.Instrument.OptionType </td>
                                            <td> @strategy.CallLeg.SellLeg.Instrument.Strike </td>
                                            <td> @strategy.CallLeg.SellLeg.Direction</td>
                                            <td> @strategy.CallLeg.SellLeg.Instrument.LastTradeDate.ToString("d") </td>
                                            <td> @strategy.CallLeg.SellLeg.Logic </td>
                                            <td title="Theor PnL"> @strategy.CallLeg.SellLeg.GetCurrencyTheorPnlWithCommission() </td>
                                            <td title="BidAsk PnL"> @strategy.CallLeg.SellLeg.GetCurrencyBidAskPnlWithCommission() </td>
                                            <td title="Position"> @strategy.CallLeg.SellLeg.Position </td>
                                            <td title="Enter price"> @strategy.CallLeg.SellLeg.EnterPriceWithCommission </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>

                            <tr class="collapsing-strategy-row">
                                <td colspan="100%">
                                    <table class="table">
                                        <tr>
                                            <th class="table-header nine-cols">
                                                Z-Closure
                                            </th>
                                            <th class="table-header nine-cols" title="Theor PnL">
                                                @strategy.CallLeg.GetClosureCurrencyTheorPnlWithCommission()
                                            </th>
                                            <th class="table-header nine-cols" title="BidAsk PnL">
                                                @strategy.CallLeg.GetClosureCurrencyBidAskPnlWithCommission()
                                            </th>
                                            <th class="table-header nine-cols" title="Цена покупного опциона">
                                                @Math.Abs(strategy.CallLeg.ClosureBuyLeg.EnterPriceWithCommission)
                                            </th>
                                        </tr>
                                        <tr>
                                            <td> @strategy.CallLeg.ClosureBuyLeg.Instrument.OptionType</td>
                                            <td> @strategy.CallLeg.ClosureBuyLeg.Instrument.Strike</td>
                                            <td> @strategy.CallLeg.ClosureBuyLeg.Direction</td>
                                            <td> @strategy.CallLeg.ClosureBuyLeg.Instrument.LastTradeDate.ToString("d") </td>
                                            <td> @strategy.CallLeg.ClosureBuyLeg.Logic </td>
                                            <td title="Theor PnL"> @strategy.CallLeg.ClosureBuyLeg.GetCurrencyTheorPnlWithCommission() </td>
                                            <td title="BidAsk PnL"> @strategy.CallLeg.ClosureBuyLeg.GetCurrencyBidAskPnlWithCommission() </td>
                                            <td title="Position"> @strategy.CallLeg.ClosureBuyLeg.Position </td>
                                            <td title="Enter Price"> @strategy.CallLeg.ClosureBuyLeg.EnterPriceWithCommission </td>
                                        </tr>
                                        
                                        <tr>
                                            <td> @strategy.CallLeg.ClosureSellLeg.Instrument.OptionType </td>
                                            <td> @strategy.CallLeg.ClosureSellLeg.Instrument.Strike </td>
                                            <td> @strategy.CallLeg.ClosureSellLeg.Direction </td>
                                            <td> @strategy.CallLeg.ClosureSellLeg.Instrument.LastTradeDate.ToString("d") </td>
                                            <td> @strategy.CallLeg.ClosureSellLeg.Logic </td>
                                            <td title="Theor PnL"> @strategy.CallLeg.ClosureSellLeg.GetCurrencyTheorPnlWithCommission() </td>
                                            <td title="BidAsk PnL"> @strategy.CallLeg.ClosureSellLeg.GetCurrencyBidAskPnlWithCommission() </td>
                                            <td title="Position"> @strategy.CallLeg.ClosureSellLeg.Position </td>
                                            <td title="Position"> @strategy.CallLeg.ClosureSellLeg.EnterPriceWithCommission </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </label>
                </td>
            </tr>

            <tr class="row collapsed-strategy-leg">
                <td colspan="100%">
                    <label> <input class="collapsing-checkbox" type="checkbox"/>
                        <table class="table strategies-leg-table">
                            <tr>
                                <th class="table-header four-cols"> Put Leg </th>
                                <th class="table-header four-cols" title="PutLeg Theor PnL"> @strategy.PutLeg.GetTotalCurrencyTheorPnlWithCommission() </th>
                                <th class="table-header four-cols" title="PutLeg BidAsk PnL"> @strategy.PutLeg.GetTotalCurrencyBidAskPnlWithCommission() </th>
                                <th class="table-header four-cols" title="Position Cost"> @strategy.PutLeg.GetTotalCurrencyPositionCost() </th>
                            </tr>
                            
                            <tr class="collapsing-strategy-row">
                                <td colspan="100%">
                                    <table class="table">
                                        <tr>
                                            <th class="table-header nine-cols">
                                                Main
                                            </th>
                                            <th class="table-header nine-cols" title="Theor Pnl">
                                                @strategy.PutLeg.GetMainCurrencyTheorPnlWithCommission()
                                            </th>
                                            <th class="table-header nine-cols" title="BidAsk Pnl">
                                                @strategy.PutLeg.GetMainCurrencyBidAskPnlWithCommission()
                                            </th>

                                        </tr>
                                        <tr>
                                            <td class="nine-cols"> 
                                                @strategy.PutLeg.BuyLeg.Instrument.OptionType 
                                            </td>
                                            <td class="nine-cols"> 
                                                @strategy.PutLeg.BuyLeg.Instrument.Strike 
                                            </td>
                                            <td class="nine-cols"> 
                                                @strategy.PutLeg.BuyLeg.Direction 
                                            </td>
                                            <td class="nine-cols"> 
                                                @strategy.PutLeg.BuyLeg.Instrument.LastTradeDate.ToString("d") 
                                            </td>
                                            <td class="nine-cols"> 
                                                @strategy.PutLeg.BuyLeg.Logic 
                                            </td>
                                            <td class="nine-cols" title="Theor PnL">
                                                @strategy.PutLeg.BuyLeg.GetCurrencyTheorPnlWithCommission() 
                                            </td>
                                            <td class="nine-cols" title="BidAsk PnL"> 
                                                @strategy.PutLeg.BuyLeg.GetCurrencyBidAskPnlWithCommission() 
                                            </td>
                                            <td class="nine-cols" title="Position"> 
                                                @strategy.PutLeg.BuyLeg.Position 
                                            </td>
                                            <td class="nine-cols" title="EnterPrice"> 
                                                @strategy.PutLeg.BuyLeg.EnterPriceWithCommission 
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="nine-cols"> 
                                                @strategy.PutLeg.SellLeg.Instrument.OptionType 
                                            </td>
                                            <td class="nine-cols"> 
                                                @strategy.PutLeg.SellLeg.Instrument.Strike 
                                            </td>
                                            <td class="nine-cols"> 
                                                @strategy.PutLeg.SellLeg.Direction 
                                            </td>
                                            <td class="nine-cols"> 
                                                @strategy.PutLeg.SellLeg.Instrument.LastTradeDate.ToString("d") 
                                            </td>
                                            <td class="nine-cols"> 
                                                @strategy.PutLeg.SellLeg.Logic 
                                            </td>
                                            <td class="nine-cols" title="Theor PnL"> 
                                                @strategy.PutLeg.SellLeg.GetCurrencyTheorPnlWithCommission()
                                            </td>
                                            <td class="nine-cols" title="BidAsk PnL"> 
                                                @strategy.PutLeg.SellLeg.GetCurrencyBidAskPnlWithCommission() 
                                            </td>
                                            <td class="nine-cols" title="Position"> 
                                                @strategy.PutLeg.SellLeg.Position 
                                            </td>
                                            <td class="nine-cols" title="EnterPrice"> 
                                                @strategy.PutLeg.SellLeg.EnterPriceWithCommission 
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>

                            <tr class="collapsing-strategy-row">
                                <td colspan=100%>
                                    <table class="table">
                                        <tr>
                                            <th class="table-header nine-cols">
                                                Z-Closure
                                            </th>
                                            <th class="table-header nine-cols" title="Theor PnL">
                                                @strategy.PutLeg.GetClosureCurrencyTheorPnlWithCommission()
                                            </th>
                                            <th class="table-header nine-cols" title="Bid\Ask PnL">
                                                @strategy.PutLeg.GetClosureCurrencyBidAskPnlWithCommission()
                                            </th>

                                            <th class="table-header nine-cols" title="Цена покупного опциона">
                                                @Math.Abs(strategy.PutLeg.ClosureBuyLeg.EnterPriceWithCommission)
                                            </th>
                                        </tr>
                                        <tr>
                                            <td class="nine-cols"> @strategy.PutLeg.ClosureBuyLeg.Instrument.OptionType </td>
                                            <td class="nine-cols"> @strategy.PutLeg.ClosureBuyLeg.Instrument.Strike </td>
                                            <td class="nine-cols"> @strategy.PutLeg.ClosureBuyLeg.Direction </td>
                                            <td class="nine-cols"> @strategy.PutLeg.ClosureBuyLeg.Instrument.LastTradeDate.ToString("d") </td>
                                            <td class="nine-cols"> @strategy.PutLeg.ClosureBuyLeg.Logic </td>
                                            <td class="nine-cols" title="Theor PnL"> 
                                                @strategy.PutLeg.ClosureBuyLeg.GetCurrencyTheorPnlWithCommission()
                                            </td>
                                            <td class="nine-cols" title="BidAsk PnL"> 
                                                @strategy.PutLeg.ClosureBuyLeg.GetCurrencyBidAskPnlWithCommission()
                                            </td>
                                            <td class="nine-cols" title="Position"> 
                                                @strategy.PutLeg.ClosureBuyLeg.Position 
                                            </td>
                                            <td class="nine-cols" title="Enter price"> 
                                                @strategy.PutLeg.ClosureBuyLeg.EnterPriceWithCommission 
                                            </td>
                                        </tr>
                                        <tr>
                                            <td  class="nine-cols"> 
                                                @strategy.PutLeg.ClosureSellLeg.Instrument.OptionType 
                                            </td>
                                            <td  class="nine-cols"> 
                                                @strategy.PutLeg.ClosureSellLeg.Instrument.Strike 
                                            </td>
                                            <td  class="nine-cols"> 
                                                @strategy.PutLeg.ClosureSellLeg.Direction 
                                            </td>
                                            <td class="nine-cols"> 
                                                @strategy.PutLeg.ClosureSellLeg.Instrument.LastTradeDate.ToString("d")
                                            </td>
                                            <td  class="nine-cols"> 
                                                @strategy.PutLeg.ClosureSellLeg.Logic 
                                            </td>
                                            <td class="nine-cols" title="Theor PnL">
                                                @strategy.PutLeg.ClosureSellLeg.GetCurrencyTheorPnlWithCommission() 
                                            </td>
                                            <td class="nine-cols" title="Bid Ask PnL"> 
                                                @strategy.PutLeg.ClosureSellLeg.GetCurrencyBidAskPnlWithCommission() 
                                            </td>
                                            <td class="nine-cols" title="Position"> 
                                                @strategy.PutLeg.ClosureSellLeg.Position 
                                            </td>
                                            <td class="nine-cols" title="Enter price"> 
                                                @strategy.PutLeg.ClosureSellLeg.EnterPriceWithCommission 
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                            </tr>
                        </table>
                    </labeL>
                </td>
            </tr>
        </table>
    </label>
</div>
}


