@page
@model IndexModel
@{
    ViewData["Title"] = "Containers";
}

<nav aria-label="Breadcrumb" class="breadcrumb">
    <ul>
        <li> <a asp-area="" asp-page="/Index">Home</a></li>
        <li> <span aria-current="page">@ViewData["Title"]</span></li>
    </ul>
</nav>
<a asp-page="./Edit">Create New</a>
<table class="table">
    <thead>
        <tr>
            <th>InTrade</th>
            <th>Instrument</th>
            <th>Account</th>
            <th>LastTradeDate</th>
            <th>Open PnL</th>
            <th>Pnl</th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @if (Model.Containers != null)
    {
        foreach (var container in Model.Containers)
        {
            <tr>
                <td>@container.InTrade</td>
                <td>@container.Instrument.FullName</td>
                <td>@container.ContainerSettings.Account</td>
                <td>@container.Instrument.LastTradeDate.ToString("dd.MM.yyyy")</td>
                <td>@container.GetOpenCurrencyPnl()</td>
                <td>@container.GetCurrencyPnl()</td>
                <td>
                    <a asp-page="./StartTrade" asp-route-id="@container.Id">Trade</a>
                </td>
                <td>
                    <a asp-page="./Stop" asp-route-id="@container.Id">Stop</a>
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@container.Id">Edit</a>
                </td>
                <td>
                    <a asp-page="./Close" asp-route-id="@container.Id">Close</a>
                </td>
                <td>
                    <a asp-page="./Details" asp-route-id="@container.Id">Details</a>
                </td>
            </tr>
        }
    }
    </tbody>
</table>