@page
@model IndexModel
@{
    ViewData["Title"] = "Containers";
}
<a asp-page="./Edit">Create New</a>
<table class="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>InTrade</th>
            <th>Instrument</th>
            <th>Account</th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
    @if (Model.Containers != null)
    {
        foreach (var container in Model.Containers)
        {
            <tr>
                <td>@container.Id</td>
                <td>@container.InTrade</td>
                <td>@container.Instrument.FullName</td>
                <td>@container.ContainerSettings.Account</td>
                <td>@container.Instrument.LastTradeDate</td>
                <td>
                    <a asp-page="./StartTrade" asp-route-id="@container.Id">Trade</a>
                </td>
                <td>
                    <a asp-page="./Edit" asp-route-id="@container.Id">Edit</a>
                </td>
                <td>
                    <a asp-page="./Stop" asp-route-id="@container.Id">Stop</a>
                </td>
                <td>
                    <a asp-page="./Details" asp-route-id="@container.Id">Details</a>
                </td>
                <td>
                    <a asp-page="./Delete" asp-route-id="@container.Id">Delete</a>
                </td>
            </tr>
        }
    }
    </tbody>
</table>