@page
@model IndexModel
@{
    ViewData["Title"] = "Containers";
}
<div class="row">
    <a asp-page="./Edit">Create New</a>
</div>
<table class="table">
    <thead>
        <tr>
            <th class="table-header">InTrade</th>
            <th class="table-header">Instrument</th>
            <th class="table-header">Account</th>
            <th class="table-header">LastTradeDate</th>
            <th class="table-header">Total Pnl $</th>
            <th class="table-header"></th>
            <th class="table-header"></th>
            <th class="table-header"></th>
            <th class="table-header"></th>
            <th class="table-header"></th>
        </tr>
    </thead>
    <tbody>
    @if (Model.Containers != null)
    {
        foreach (var container in Model.Containers)
        {
            <tr class="table-row">
                <td class="table-data">@container.InTrade</td>
                <td class="table-data">@container.Instrument.FullName</td>
                <td class="table-data">@container.Settings.Account</td>
                <td class="table-data">@container.Instrument.LastTradeDate.ToString("dd.MM.yyyy")</td>
                <td class="table-data">@container.GetTotalCurrencyPnlWithCommission()</td>
                <td class="table-data">
                    <a asp-page="./StartTrade" asp-route-id="@container.Id">Trade</a>
                </td>
                <td class="table-data">
                    <a asp-page="./Stop" asp-route-id="@container.Id">Stop</a>
                </td>
                <td class="table-data">
                    <a asp-page="./Edit" asp-route-id="@container.Id">Edit</a>
                </td>
                <td class="table-data">
                    <a asp-page="./Close" asp-route-id="@container.Id">Close</a>
                </td>
                <td class="table-data">
                    <a asp-page="./Details" asp-route-id="@container.Id">Details</a>
                </td>
            </tr>
        }
    }
    </tbody>
</table> 